{% extends 'inventory/base.html' %}
{% block title %}{{ update }} {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-panel">
<div class="container my-2">
    <div class="col-9 mx-auto">
        <div class="card" >
            <div class="card-body">
                <div class="card-body">
                    <div id="successMessage">
                        {% if messages %}
                            <div class="alert alert-success d-flex justify-content-between align-items-center alert-dismissible fade show" role="alert">
                                {% for message in messages %}
                                    <span>{{ message }}</span>
                                {% endfor %}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    </div>
                <div class="row">
                    <h1 class="card-title">Change Password</h1>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input class="btn btn-info" type="submit" value="Update">
                        <a href="{% url 'dash' %}" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
