{%load static%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
 <style>
   .background-image {
     background-image: url('/static/inventory/images/cover.png'); /* Adjust the path as needed */
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
 }  
</style>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>BatX </title>
 <link rel="stylesheet" href="{% static 'inventory/css/vertical-layout-light/style.css'%}">
 <!-- endinject -->
 <link rel="shortcut icon" href="{% static 'inventory/images/logo4.png'%}" />
</head> 
<body class="background-image">
   <div class="container-scroller">
     <div class="d-flex align-items-center auth px-0" style="margin-top:10%;">
       <div class="row w-100 mx-auto">
         <div class="col-lg-4 mx-auto">
           <div class="auth-form-light text-left py-5 px-4 px-sm-5">
             <div class="brand-logo">
               <img src="{% static 'inventory/images/logo4.png'%}" alt="logo">
             </div>
               <h4>Congratulations,</h4><br>
               <h6 class="fw-light">Your Password Has Been Successfully Reset!</h6><br>
               <div class="my-2 d-flex justify-content-between align-items-center">    
                <p>Return to <a href="{%url 'login'%}" class="auth-link text-black">Login</a></p>
              </div>     
           </div>
         </div>
       </div>
     </div>
     <!-- content-wrapper ends -->
   </div>
   <!-- page-body-wrapper ends -->
</body>
</html> 